@using Microsoft.AspNetCore.Mvc.Localization;
@using Collectors.Data.Classes;
@using Markdig;
@inject IViewLocalizer Localizer;
@model Collection
<div class="img">
    <img src="~/img/8-TRACK-COLLECTION.jpg" alt="Snow" style="width:100%;">
    <div class="centered">
        <h1 class="big-header">@Localizer["Manage collections"]</h1>
        <form>
            <button class="btn-success" asp-action="Create">
                @Localizer["add new collection"]
            </button>
        </form>
    </div>
</div>

<div class="container">
    <div class="align-content-center">
        <div class="card-columns">
            @{
                foreach (var element in ViewBag.Collections)
                {

                    <div class="card m-3 d-inline-block p-1 bg-info">
                        <form>
                            <input class="btn-info" asp-for="Id" value="@element.Id" type="hidden" />
                            <button class="btn-info" type="submit" asp-action="Edit">
                                <img src="~/bootstrap-icons/icons/pencil.svg" />
                            </button>

                            <button class="btn-info" type="submit" asp-action="Delete">
                                <img src="~/bootstrap-icons/icons/trash.svg" />
                            </button>
                            <button class="btn-info" type="submit" asp-action="Index" asp-controller="Items">
                                <img src="~/bootstrap-icons/icons/eye.svg" />
                            </button>

                            @if (element.Image != null)
                            {
                                <img class="card-img-top" src="data:image/jpeg;base64,@(Convert.ToBase64String(element.Image))" alt="@Localizer["View items"]" />
                            }
                            else
                            {
                                <img class="card-img-top" src="~/img/ImageNotSet.png" alt="@Localizer["View items"]" />
                            }

                        </form>
                        <div class="card-body">
                            <h5 class="card-title">Theme : @Enum.GetValues(typeof(CollectionTheme)).GetValue(element.ThemeId);</h5>
                            @Html.Raw(Markdown.ToHtml(element.ShortDescription))
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
