@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Collectors</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/profile.css" />
    <link rel="stylesheet" href="~/css/tagify.css" />
</head>
<body>
    <header class="darkmode-ignore w-100" style="background-color:#9209ce">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <img src="~/bootstrap-icons/icons/menu-down.svg" />
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link text-light font-weight-bolder" asp-area="" asp-controller="Home" 
                           asp-action="Index">@Localizer["Home"]</a>
                    </li>
                    <li>
                        <a class="nav-link text-light font-weight-bolder" asp-area="" asp-controller="Home" 
                           asp-action="Privacy">@Localizer["Privacy"]</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
                <form class="form-inline my-2 my-lg-0">
                    <input name="searchString" class="form-control mr-sm-2" type="search" placeholder=@Localizer["Search"]
                           aria-label=@Localizer["Search"]>
                    <button asp-controller="Home" asp-action="Search" class="btn btn-success my-2 my-sm-0" type="submit">
                        <img src="~/bootstrap-icons/icons/search.svg" />
                    </button>
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Collectors - <a asp-area="" asp-controller="Home" asp-action="Privacy">
                @Localizer["Privacy"]
            </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Darkmode.js/darkmode-js.min.js"></script>
    <script src="~/js/enableDarkMode.js"></script>
    <script src="~/js/tagify/tagify.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
