@using System.Web;
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IHtmlLocalizer<SharedResource> SharedLocalizer;
<div class="container p-4">
    <h2>@SharedLocalizer["Discussion about item"]</h2>
    <div id="inputForm">
        <input class="form-control" type="text" id="message"
               placeholder="@SharedLocalizer["Write your comment"]..." />
        <input class="form-control-sm m-2 btn-success darkmode-ignore"
               type="button" id="sendBtn" value="@SharedLocalizer["Sent"]" />
        <input id="userName" type="hidden"
               value="@User.Identity.Name" />
        <input id="itemId" type="hidden" value="@Model.ItemId" />
    </div>
    <div id="chatroom" class="m-4 p-2">
        @{
            foreach (var c in Model.Comments)
            {
                <div class="message">
                    <b>@c.UserName :</b>
                    <p>@c.Content</p>
                </div>
            }
        }
    </div>
</div>
    @section Scripts{
        <script src="~/js/commentChat.js"></script>
    }
